**/.sass-cache
**/.sass-cache/*
**.sass-cache**
/.sass-cache
**/.tmp
**/.tmp/*
**.tmp**
/.tmp	
._client
._dist
._server
._.DS_Store
/node_modules
/dist
.idea
/public
**/.DS_Store
.DS_Store?
.DS_Store
/client/bower_components
